.container-result{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh
}

.grid-result{
  margin-top: 5%;
}

.title{
  text-align: left;
  color: #7c7c7c;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px
}

.box-result{
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.result-text-container{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.title-content-result{
  font-size: 20px;  
}
.text-result{
  font-size: 18px;
  color: #333;
}
.title-table{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
